/* Books Module Custom Styles */
/* This file is reserved for custom book-related styles if needed */

/* Example: Custom animations or utilities can be added here */
@layer utilities {
    .line-clamp-2 {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .aspect-\[3\/4\] {
        aspect-ratio: 3 / 4;
    }
}
